body {
    background: black
}

h4 {
    color: orangered;
    margin-top: 20px;
    text-align: center;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 40px
}

h3 {
    color: white;
    text-align: center;
    font-family: 'Roboto Condensed', sans-serif;
}

#aboutcontent {
    margin-left: auto;
    margin-right: auto;
    text-align: center
}

h5 {
    color: white;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 23px
}

p {
    color: white;
    text-align: center;
    font-family: 'Roboto Condensed', sans-serif;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60%
}

#socialicons {
    display: block; 
    margin-left: auto;
    margin-right: auto;
    text-align: center
}

#github {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    width: 10%;
}

#linkedin {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    width: 10%;  
}

#stackoverflow {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    width: 10%;
}

#twitter {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    width: 11%;
}

footer {
    color: white;
    text-align: center;
    margin-top: 5px
}










