body {
    background: black
}

h4 {
    color: white;
    margin-top: 20px;
    text-align: center
}

#aboutcontent {
    margin-left: auto;
    margin-right: auto;
    text-align: center
}

p {
    color: white
}

#me {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    background-color: white;
    width: 90%;
    height: 200px
}

#followme {
    text-align: center
}

h5 {
    text-align: center
}

.socialicons {
    margin-left: auto;  
    margin-right: auto; 
    text-align: center
}




