body {
    background: black
}

h4 {
    color: white;
    margin-top: 20px;
    text-align: center
}

#aboutcontent {
    margin-left: auto;
    margin-right: auto;
    text-align: center
}

p {
    color: white
}

#me {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
}

img {
    width: 100%
}










