#mainNav {
    background: whitesmoke
}

a {
    color: black
}

body {
    background-image: url("/assets/images/oceanwave.jpg");
    width: 100%
}

#brand { font-family: vonique;}

h2 {
	text-align: center
}

p {
	text-align: center
}