#mainNav {
    background: whitesmoke
}

.container-fluid {
    padding-left: 0px;
    padding-right: 0px
}

#wave {
    background-image: url("/assets/images/wave.jpg");
    height: 600px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 0px
}

#title {
    display: block;
    text-align: right;
    color: white;
    margin-left: auto;  
    margin-right: 45px;
    padding-top: 270px;
}

#name {
    text-align: right
}

a {
    color: black
}

h1 {
    text-align: left
}

#beach {
    background-image: url("/assets/images/beachbackground.jpg");
    height: 400px;
    background-position: left;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 10px
}

#followme {
    text-align: center
}

.socialcontent {
    margin-left: auto;  
    margin-right: auto; 
    text-align: center
}

#github {
    background: black;
    width: 40px;
    height: 40px;
}

#stackoverflow {
    background: black;
    width: 40px;
    height: 40px;
}

#linkedin {
    background: black;
    width: 40px;
    height: 40px;
}
