body {
    background-image: url("/assets/images/hawaiibeach.jpg")
}

#content {
    display: block;
    margin-left: auto;
    margin-left: 25px;
    padding-top: 150px;
    text-align: left
}

a {
    color: teal;
}

a:hover {
    color: white
}

h1 {
    font-size: 100px;
    color: white
}