body {
    background: black
}

#content {
    display: block;
    margin-left: auto;
    margin-left: 25px;
    padding-top: 150px;
    text-align: center
}

#work {
    background-image: url("/assets/images/underwater.jpg");
    background-position: top
}

#jungle {
    background-image: url("/assets/images/jungle.jpg");
    background-position: bottom
}

#mountainsnow {
    background-image: url("/assets/images/mountainsnow.jpg");
    background-position: center
}

a {
    color: teal;
}

a:hover {
    color: white
}

h1 {
    font-size: 100px;
    color: white
}