body {
    background: black
}

h1 {
    color: white;
	font-size: 24px;
	text-align: center;
	font-weight: bold;
	margin-bottom:30px;
	padding: 40px 0 10px 0;
}

h5 {
    color: white;
    text-align: center;
    font-size: 23px
}

p {
    color: white;
    text-align: center;
    font-size: 13px
}

.filter-button {
    font-size: 18px;
    background-color: black;
    border-radius: 5px;
    text-align: center;
    color: white;
    margin-bottom: 30px;

}

.filter-button:hover {
    font-size: 18px;
    border: 1px solid grey;
    border-radius: 5px;
    text-align: center;
    color: #ffffff;
    background-color: black;

}

.btn-default:active .filter-button:active {
    background-color: black;
    color: white;
}

img {
    width: 100%
}

.gallery_product {
    margin-bottom: 30px;
}

.overlay:hover {
    opacity: 1;
  }

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: black;
}

  .text {
    width: 100%;
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
  }

  @media only screen and (max-width: 1199.98px){
      
    h5 {
        font-size: 30px
    }

    p {
        font-size: 17px;
        
    }

  }

  @media only screen and (max-width: 991.98px){

    h5 {
        font-size: 24px
    }

    p {
        font-size: 13px;
        
    }

  }

  @media only screen and (max-width: 767.98px){

    .btn-group {
        height: 90%;
        vertical-align: text-bottom;
    }

    .text {
        height: 100%
    }

    h5 {
        font-size: 18px
    }
  }

  


  